export OTEL_ENABLED=false
export SERVICE_NAME=ctgov-compliance-web
export SERVICE_NAMESPACE=ctgov
# optional if metrics exporter installed
export OTEL_METRICS_ENABLED=true
export GOOGLE_CLOUD_PROJECT=ctgov-464020