export OTEL_ENABLED=true
export SERVICE_NAME=ctgov-compliance-web
export SERVICE_NAMESPACE=ctgov
# optional if metrics exporter installed
export OTEL_METRICS_ENABLED=true
export OTEL_METRIC_EXPORT_INTERVAL_MILLIS=60000
export GOOGLE_CLOUD_PROJECT=your-project-id