app.log

*.env
scratch.py
deploy.zip
*.sqlite
/.venv

# macOS
.DS_Store

# add python ignore
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# development postgres
.postgres

pgdata/

.aws-profile

# celery
celery_tasks.db
dump.rdb

# redis
redis-server.log

# blazegraph
*.jar
.blazegraph.pid
blazegraph.*

# build files
/build
/ctgov_compliance_web.egg-info
report.*
rules.log

# ignoring USWDS files for now
/web/static

# ignoring personal vscode settings
.vscode/