app.log

*.env
scratch.py
deploy.zip
*.sqlite
/.venv

# macOS
.DS_Store

# add python ignore
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

agent.md

# development postgres
.postgres

pgdata/


# celery
celery_tasks.db


# build files
/build
/ctgov_compliance_web.egg-info
rules.log
uv.lock

# ignoring personal vscode settings
.vscode

# ignoring pytest files
.coverage
.pytest_cache

# ignoring cursor context files
/cursor-files

# ignoring report files
report.*

# ignoring cursor context files
/cursor-files

*.db

report.*
gcloud-logs.json