app.log

*.env
scratch.py
deploy.zip
*.sqlite
/.venv

# macOS
.DS_Store

# add python ignore
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# development postgres
.postgres

pgdata/

.aws-profile

# celery
celery_tasks.db
dump.rdb

# redis
redis-server.log

# blazegraph
*.jar
.blazegraph.pid
blazegraph.*

# build files
/build
/ctgov_compliance_web.egg-info
report.*
rules.log

# ignoring personal vscode settings
.vscode

/web/static/*
!/web/static/style.css
!/web/static/img

# ignoring pytest files
.coverage
.pytest_cache

# i don't know why this is here or where it came from
/instance