{% block content %}
    <div class="grid-row grid-gap margin-bottom-2">
        <div class="desktop:grid-col-fill text-left">
            <h2 class="usa-heading margin-y-1 text-ink">{{ title }}</h2>
            {% if pagination %}
                <span class="usa-hint text-primary">Showing {{ pagination.end_index }} of {{
                    pagination.total_entries }}
                entries</span>
            {% endif %}
        </div>
        <div class="grid-col-auto display-flex flex-row flex-justify-center flex-align-center">
            <form method="get" class="display-inline">
                {% for key, value in request.args.items() %}
                    {% if key != 'per_page' and key != 'page' %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endif %}
                {% endfor %}
                <div class="grid-row">
                    <div class="grid-col-12">
                        <label class="usa-label margin-0" for="entries-per-page">Rows per page:</label>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-12">
                        <select class="usa-select margin-0"
                                id="entries-per-page"
                                name="per_page"
                                onchange="this.form.submit()">
                            <option value="10" {% if per_page==10 %}selected{% endif %}>10</option>
                            <option value="25" {% if per_page==25 %}selected{% endif %}>25</option>
                            <option value="50" {% if per_page==50 %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page==100 %}selected{% endif %}>100</option>
                        </select>
                        <input type="hidden" name="page" value="1">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="margin-bottom-2">
        <div class="display-flex flex-align-center">
            <span class="font-sans-sm margin-right-1">View as:</span>
            <button id="toggle-card"
                    class="usa-button usa-button--outline margin-right-1"
                    type="button">Cards</button>
            <button id="toggle-table"
                    class="usa-button usa-button--outline"
                    type="button">Table</button>
        </div>
    </div>
{% endblock content %}
