{% block content %}
<div class="usa-table-wrapper">
	<table class="usa-table usa-table--sticky-header">
		<thead>
			<tr>
				<th scope="col">Sponsor</th>
				<th scop="col">Funding Source</th>
				<th scope="col">Total Trials</th>
				<th scope="col">Compliant Trials</th>
				<th scope="col">Late Submissions</th>
				<th scope="col">Compliance Rate</th>
			</tr>
		</thead>
		<tbody>
			{% for org in org_compliance %}
			<tr>
				<td scope="row">
					<a href="/organization/{{ org.id }}" class="usa-link">{{org.name}}</a>
				</td>
				<td scope="row"></td>
				<td scope="row">{{ org.total_trials }}</td>
				<td scope="row" class=" text-success">
					<i class="ri-check-line"></i> {{ org.on_time_count }}
				</td>
				<td scope="row" class=" text-error">
					<i class="ri-close-line"></i> {{ org.late_count }}
				</td>
				<td scope="row">
					{% set compliance_rate = ((org.on_time_count / org.total_trials) if org.total_trials > 0 else
					0)|round|int %}
					<span>{{ compliance_rate }}%</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}