{% block content %}<div class="grid-row">
    <div class="grid-col-10 display-flex flex-align-center">
        <h2 class="usa-heading margin-y-1">Compliance Rate:</h2>
    </div>
    <div class="grid-col-2 usa-heading margin-y-1">
        <h2 class="metric-value float-right flex-align-self-center">{{ (on_time_count /
            (on_time_count +
            late_count) *
            100)|round|int
            }}%
        </h2>
    </div>
</div>
<div class="grid-row display-flex">
    <div class="grid-col-12">
        <div class="metric-details">
            <p>On-time submissions: {{on_time_count}}</p>
            <p>Late submissions: {{late_count}}</p>
            <p>Total trials: {{on_time_count + late_count}}</p>
        </div>
    </div>
</div>{% endblock %}