{% extends 'layout.html' %} {% block title %}Dashboard - CTGov Compliance{% endblock %} {%
block content %}
<!-- <ul class="usa-card-group">
	<li class="usa-card usa-card--flag flex-1">
		<div class="usa-card__container hover:shadow-2">
			<div class="usa-card__header">
				<h2 class="usa-card__heading font-ui-2xl">24%</h2>
			</div>
			<div class="usa-card__media usa-card__media--exdent">
				<div class="usa-card__img flex-fill padding-x-4 padding-y-2">
					<img src="{{ url_for('static', filename='img/user-fill.svg') }}" />
				</div>
			</div>
			<div class="usa-card__body">
				<p>Compliance Rate</p>
			</div>
			<div class="usa-card__footer">
				<a href="#" class="usa-button">View Trials</a>
			</div>
		</div>
	</li>
	<li class="usa-card usa-card--flag flex-1">
		<div class="usa-card__container hover:shadow-2">
			<div class="usa-card__header">
				<h2 class="usa-card__heading font-ui-2xl">24%</h2>
			</div>
			<div class="usa-card__media">
				<div class="usa-card__img flex-fill padding-x-4 padding-y-2">
					<img src="{{ url_for('static', filename='img/user-fill.svg') }}" />
				</div>
			</div>
			<div class="usa-card__body">
				<p>Compliance Rate</p>
			</div>
			<div class="usa-card__footer">
				<a href="#" class="usa-button">View Trials</a>
			</div>
		</div>
	</li>
	<li class="usa-card usa-card--flag flex-1">
		<div class="usa-card__container hover:shadow-2">
			<div class="usa-card__header">
				<h2 class="usa-card__heading font-ui-2xl">24%</h2>
			</div>
			<div class="usa-card__media">
				<div class="usa-card__img flex-fill padding-x-4 padding-y-2">
					<img src="{{ url_for('static', filename='img/user-fill.svg') }}" />
				</div>
			</div>
			<div class="usa-card__body">
				<p>Compliance Rate</p>
			</div>
			<div class="usa-card__footer">
				<a href="#" class="usa-button">View Trials</a>
			</div>
		</div>
	</li>
	<li class="usa-card usa-card--flag flex-1">
		<div class="usa-card__container hover:shadow-2">
			<div class="usa-card__header">
				<h2 class="usa-card__heading font-ui-2xl">24%</h2>
			</div>
			<div class="usa-card__media">
				<div class="usa-card__img flex-fill padding-x-4 padding-y-2">
					<img src="{{ url_for('static', filename='img/user-fill.svg') }}" />
				</div>
			</div>
			<div class="usa-card__body">
				<p>Compliance Rate</p>
			</div>
			<div class="usa-card__footer">
				<a href="#" class="usa-button">View Trials</a>
			</div>
		</div>
	</li>
</ul> -->
{% include 'ring.html' with context %}
<script>
	const trials = {{ trials|tojson }}
	const onTimeCount = trials.filter((t) => t.status === "on time").length;
	const lateCount = trials.filter((t) => t.status === "late").length;
	console.log(onTimeCount);
	console.log(lateCount);
	setProgress((onTimeCount / (onTimeCount + lateCount)) * 100, "Compliance Rate");
</script>
<h2 class="usa-heading">Clinical Trials Data</h2>
<div class="table-container">
	<table class="usa-table usa-table--striped usa-table--borderless">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">NCT ID</th>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Start Date</th>
				<th scope="col">Completion Date</th>
				<th scope="col">Reporting Due Date</th>
				<th scope="col">Last Checked</th>
			</tr>
		</thead>
		<tbody>
			{% for trial in trials %}
			<tr>
				<td scope="row">
					<a href="https://clinicaltrials.gov/study/{{ trial.nct_id }}"
						>{{ trial.title }}</a
					>
				</td>
				<td scope="row">{{ trial.nct_id }}</td>
				<td scope="row">{{ trial.name }}</td>
				<td scope="row">{{ trial.status }}</td>
				<td scope="row">{{ trial.start_date }}</td>
				<td scope="row">{{ trial.completion_date }}</td>
				<td scope="row">{{ trial.reporting_due_date }}</td>
				<td scope="row">{{ trial.last_checked }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- <h2 class="usa-heading">Organization Compliance Rates</h2>
<div class="table-container">
	<table class="usa-table usa-table--striped usa-table--stacked">
		<thead>
			<tr>
				<th>Organization</th>
				<th>On-time Reporting %</th>
			</tr>
		</thead>
		<tbody>
			{% for row in org_rates %}
			<tr>
				<td>{{ row.name }}</td>
				<td>{{ row.rate }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} -->
