<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}CTGov Compliance{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css" rel="stylesheet" />
	<link href="{{ url_for('static', filename='dist/css/uswds.min.css') }}" rel="stylesheet" />
	<style>
		:root {
			--header-height: fit-content;
		}

		main {
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
		}

		.grid-container-full {
			max-width: 100%;
			padding: 0 2rem;
		}

		html {
			height: 100vh;
			width: 100vw;
		}

		.usa-header {
			height: var(--header-height);
		}

		.content-container {
			min-height: calc(100vh - var(--header-height));
		}
	</style>
</head>

<body>
	<header class="usa-header usa-header--extended">
		<div class="usa-nav-container">
			<div class="usa-navbar">
				<div class="usa-logo margin-y-0">
					<h4 class="usa-logo__text">
						<a class="usa-logo__text" href="/" title="CTGov Compliance">CTGov Compliance</a>
					</h4>
				</div>
				<button type="button" class="usa-menu-btn">
					Menu
				</button>
			</div>
			{% if current_user.is_authenticated %}
			<nav aria-label="Primary Navigation Menu" class="usa-nav" style="padding: 0;">
				<div class="usa-nav__inner">
					<button type="button" class="usa-nav__close margin-1">
						<svg class="usa-icon" alt="Close" role="img">
							<use href="{{ url_for('static', filename='dist/img/sprite.svg') }}#close">
							</use>
						</svg>
					</button>
					<ul class="usa-nav__primary usa-accordion usa-list--unstyled">
						<li class="usa-nav__primary-item">
							<a href="{{ url_for('dashboard.index') }}" class="usa-nav-link">
								<span>Advanced Search</span>
							</a>
						</li>
						<li class="usa-nav__primary-item">
							<button type="button" class="usa-accordion__button usa-nav__link usa-current"
								aria-expanded="false" aria-controls="extended-nav-section-one">
								<span>Organizations</span>
							</button>
							<ul id="extended-nav-section-one" class="usa-nav__submenu">
								<li class="usa-nav__submenu-item">
									<a href="{{ url_for('dashboard.show_compare_organizations_dashboard') }}">
										<span>Compare Organizations</span>
									</a>
								</li>
								{% if current_user.primary_organization_id %}
								<li class="usa-nav__submenu-item">
									<a
										href="{{ url_for('dashboard.show_organization_dashboard', org_id=current_user.primary_organization_id) }}">
										<span>View my Organizations</span>
									</a>
								</li>
								{% endif %}
								<li class="usa-nav__submenu-item">
									<!-- TODO: Create an org search page -->
									<a href="">
										<span>Search Organizations</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="usa-nav__primary-item">
							<button type="button" class="usa-accordion__button usa-nav__link usa-current"
								aria-expanded="false" aria-controls="extended-nav-section-two">
								<span>Users</span>
							</button>
							<ul id="extended-nav-section-two" class="usa-nav__submenu">
								<li class="usa-nav__submenu-item">
									<!-- TODO: Create a user comparison page -->
									<a href="">
										<span>Compare Users</span>
									</a>
								</li>
								{% if current_user.primary_organization_id %}
								<li class="usa-nav__submenu-item">
									<a href="{{ url_for('dashboard.show_user_dashboard', user_id=current_user.id) }}">
										<span>View my Trials</span>
									</a>
								</li>
								{% endif %}
								<li class="usa-nav__submenu-item">
									<!-- TODO: Create a user search page -->
									<a href="">
										<span>Search Users</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="usa-nav__secondary tablet:padding-0 padding-2">
						<ul class="usa-nav__secondary-links">
							<li class="usa-nav__secondary-item">{{ current_user.email }}
							</li>
							<li class="usa-nav__secondary-item">
								<a href="{{ url_for('auth.logout') }}">
									<span>Logout</span>
									<i class="ri-logout-box-line margin-right-1"></i>
								</a>
							</li>
						</ul>
						<section aria-label="Search component">
							<form class="usa-search usa-search--small " role="search">
								<label class="usa-sr-only" for="search-field">
									Search
								</label>
								<input class="usa-input" id="search-field" type="search" name="search">
								<button class="usa-button" type="submit">
									<svg class="usa-icon usa-search__submit-icon" alt="Search" role="img">
										<use href="{{ url_for('static', filename='dist/img/sprite.svg') }}#search">
										</use>
									</svg>
								</button>
							</form>
						</section>
					</div>
				</div>
			</nav>
		</div>
		{% endif %}
	</header>
	<main>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<div class="grid-container">
			{% for category, message in messages %}
			<div class="usa-alert usa-alert--{{ category if category != 'message' else 'info' }} margin-y-2"
				role="alert">
				<div class="usa-alert__body">
					<p class="usa-alert__text">{{ message|safe }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
		<div class="position-fixed bottom-0 right-0 z-top padding-1">
			<a href="#" class="usa-footer__return-to-top usa-button circle-205">
				<i class="ri-arrow-up-double-line"></i>
			</a>
		</div>
	</main>

	<script src="{{url_for('static', filename='dist/js/uswds.min.js')}}"></script>
</body>

</html>