<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}CTGov Compliance{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='dist/css/uswds.min.css') }}"
			rel="stylesheet"
		/>
		<script href="{{ url_for('static', filename='dist/js/uswds.min.js') }}"></script>
	</head>
	<body>
		<header class="usa-header usa-header--basic flex-auto">
			<div class="usa-nav-container">
				<div
					class="usa-navbar display-flex flex-row flex-align-center flex-fill margin-y-3"
				>
					<div>
						<h1 class="usa-logo__text font-body-xl" href="/" title="Home">
							CTGov Compliance
						</h1>
					</div>
					<!-- Add Logout here -->
					{% if current_user.is_authenticated %}
					<div class="margin-left-auto">
						<a href="{{ url_for('auth.logout') }}" class="usa-button usa-button--outline">
							Logout
						</a>
					</div>
					{% endif %}
				</div>
			</div>
		</header>
		<main class="usa-section flex-fill">
			<div class="grid-container-desktop-lg">
				{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
				<div class="usa-alert">
					{% for category, message in messages %}
					<div class="usa-alert__body">{{ message }}</div>
					{% endfor %}
				</div>
				{% endif %} {% endwith %}
				<div class="">{% block content %}{% endblock %}</div>
			</div>
		</main>
		<footer class="position-fixed bottom-0 right-0 z-top padding-1">
			<a href="#" class="usa-footer__return-to-top usa-button circle-205">
				<i class="ri-arrow-up-double-line"></i>
			</a>
		</footer>
	</body>
</html>
