<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
              content="CTGov Compliance - Clinical trial compliance monitoring and reporting dashboard" />
        <meta name="keywords"
              content="clinical trials, compliance, reporting, CTGov, FDA, research" />
        <meta name="author" content="CTGov Compliance" />
        <title>
            {% block title %}
                CTGov Compliance
            {% endblock title %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
              rel="stylesheet" />
        <link href="{{ url_for('static', filename='dist/css/uswds.min.css') }}"
              rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <style>
		:root {
			--header-height: fit-content;
		}

		main {
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
		}

		.grid-container-full {
			max-width: 100%;
			padding: 0 2rem;
		}

		html {
			height: 100vh;
			width: 100vw;
		}

		.usa-header {
			height: var(--header-height);
		}

		.content-container {
			min-height: calc(100vh - var(--header-height));
		}
        </style>
    </head>
    <body>
        <script src="{{url_for('static', filename='dist/js/uswds.min.js')}}"></script>
        <div class="usa-overlay"></div>
        <header class="usa-header bg-white">
            <div class="desktop:grid-container-widescreen">
                <div class="usa-nav-container padding-2">
                    <div class="grid-row">
                        <div class="grid-col-9">
                            <div class="usa-navbar">
                                <div class="usa-logo">
                                    <span class="usa-logo__text padding-x-2">
                                        <a class="usa-logo__text"
                                           href="{{ url_for('routes.index') }}"
                                           title="CTGov Compliance">CTGov Compliance</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-3">
                            <div class="usa-nav__secondary">
                                <ul class="usa-nav__secondary-links">
                                    <li class="usa-nav__secondary-item">{{ current_user.email }}</li>
                                    <li class="usa-nav__secondary-item">
                                        <a href="{{ url_for('auth.logout') }}">
                                            <span>Logout</span>
                                            <i class="ri-logout-box-line margin-right-1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="grid-row">
                            <nav aria-label="Primary Navigation Menu" class="usa-nav">
                                <div class="usa-nav__inner">
                                    <button type="button" class="usa-nav__close margin-1">
                                        <svg class="usa-icon" alt="Close" role="img">
                                            <use href="{{ url_for('static', filename='dist/img/sprite.svg') }}#close">
                                            </use>
                                        </svg>
                                    </button>
                                    <ul class="usa-nav__primary usa-accordion usa-list--unstyled">
                                        <li class="usa-nav__primary-item">
                                            <a href="{{ url_for('routes.index') }}" class="usa-nav-link">
                                                <span class="font-ui-md">Advanced Search</span>
                                            </a>
                                        </li>
                                        <li class="usa-nav__primary-item">
                                            <button type="button"
                                                    class=" usa-accordion__button usa-nav__link"
                                                    aria-expanded="false"
                                                    aria-controls="extended-nav-section-one"
                                                    title="Organizations"
                                                    aria-label="Organizations"
                                                    aria-controls="extended-nav-section-one">
                                                <span class="font-ui-md">Organizations</span>
                                            </button>
                                            <ul id="extended-nav-section-one" class="usa-nav__submenu">
                                                <li class="usa-nav__submenu-item">
                                                    <a href="{{ url_for('routes.show_compare_organizations_dashboard') }}">
                                                        <span>Compare Organizations</span>
                                                    </a>
                                                </li>
                                                {% if current_user.organization_ids %}
                                                    <li class="usa-nav__submenu-item">
                                                        <a href="{{ url_for('routes.show_organization_dashboard', org_ids=(current_user.organization_ids|urlencode) ) }}">
                                                            <span>View my Organizations</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li class="usa-nav__submenu-item">
                                                    <!-- TODO: Create an org search page -->
                                                    <a href="">
                                                        <span>Search Organizations</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="usa-nav__primary-item">
                                            <button type="button"
                                                    class="usa-accordion__button usa-nav__link"
                                                    aria-expanded="false"
                                                    aria-controls="extended-nav-section-two">
                                                <span class="font-ui-md">Users</span>
                                            </button>
                                            <ul id="extended-nav-section-two" class="usa-nav__submenu">
                                                <li class="usa-nav__submenu-item">
                                                    <!-- TODO: Create a user comparison page -->
                                                    <a href="">
                                                        <span>Compare Users</span>
                                                    </a>
                                                </li>
                                                {% if current_user.trials %}
                                                    <li class="usa-nav__submenu-item">
                                                        <a href="{{ url_for('routes.show_user_dashboard', user_id=current_user.id) }}">
                                                            <span>View my Trials</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li class="usa-nav__submenu-item">
                                                    <!-- TODO: Create a user search page -->
                                                    <a href="">
                                                        <span>Search Users</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                {% endif %}
            </div>
        </header>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="grid-container">
                        {% for category, message in messages %}
                            <div class="usa-alert usa-alert--{{ category if category != 'message' else 'info' }} margin-y-2"
                                 role="alert">
                                <div class="usa-alert__body">
                                    <p class="usa-alert__text">{{ message|safe }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %}
            <div class="position-fixed bottom-0 right-0 z-top padding-1">
                <a href="#" class="usa-footer__return-to-top usa-button circle-205">
                    <i class="ri-arrow-up-double-line"></i>
                </a>
            </div>
        </main>
    </body>
</html>
