{% extends 'layout.html' %}
{% block title %}Login - CTGov Compliance{% endblock %}
{% block content %}
<div class="grid-row">
  <div class="tablet:grid-col-4">
    <form method="post">
      <div class="usa-form-group">
        <label class="usa-label" for="email">Email</label>
        <input class="usa-input" id="email" name="email" type="email" required>
      </div>
      <div class="usa-form-group">
        <label class="usa-label" for="password">Password</label>
        <input class="usa-input" id="password" name="password" type="password" required>
      </div>
      <button class="usa-button" type="submit">Login</button>
    </form>
  </div>
</div>
{% endblock %}
