{% extends 'layout.html' %} {% block title %}Login - CTGov Compliance{% endblock %} {%
block content %}
<div class="login-page">
	<div class="grid-row flex-justify-center">
		<div class="grid-col-12 tablet:grid-col-6">
			<div class="usa-card login-card">
				<div class="usa-card__body">
					<form method="post">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
						<div class="usa-form-group">
							<label class="usa-label" for="email">Email</label>
							<div class="usa-input-group">
								<div class="usa-input-prefix" aria-hidden="true">
									<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
										<use
											href="{{ url_for('static', filename='dist/img/sprite.svg') }}#person"
										></use>
									</svg>
								</div>
								<input
									class="usa-input"
									id="email"
									name="email"
									type="email"
									placeholder="Email"
									required
								/>
							</div>
						</div>
						<div class="usa-form-group">
							<label class="usa-label" for="password">Password</label>
							<div class="usa-input-group">
								<div class="usa-input-prefix" aria-hidden="true">
									<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
										<use
											href="{{ url_for('static', filename='dist/img/sprite.svg') }}#lock"
										></use>
									</svg>
								</div>
								<input
									class="usa-input"
									id="password"
									name="password"
									type="password"
									placeholder="Password"
									required
								/>
							</div>
						</div>
						<div class="usa-form-group margin-y-1">
							<ul
								class="usa-button-group display-flex flex-row flex-align-center flex-justify-center"
							>
								<li class="usa-button-group__item">
									<a
										class="usa-button usa-button--unstyled"
										href="{{ url_for('auth.register') }}"
										>Create an account</a
									>
								</li>
								<li class="usa-button-group__item">
									<a
										class="usa-button usa-button--unstyled"
										href="{{ url_for('auth.reset_request') }}"
										>Forgot password?</a
									>
								</li>
							</ul>
						</div>
						<div class="usa-form-group position-relative right-auto">
							<button class="usa-button" type="submit">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>
