{% extends 'layout.html' %}
{% block title %}Set New Password - CTGov Compliance{% endblock %}
{% block content %}
<div class="grid-row flex-justify-center">
  <div class="grid-col-12 tablet:grid-col-6">
    <div class="usa-card login-card">
      <div class="usa-card__body">
        <form method="post">
          <div class="usa-form-group">
            <label class="usa-label" for="password">New Password</label>
            <input class="usa-input" id="password" name="password" type="password" required>
          </div>
          <button class="usa-button" type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
