{% block content %}
<div class="usa-card">
    <div class="usa-card__body bg-accent-cool-lighter shadow-3 border-left-accent-dark">
        <h2 class="usa-heading margin-y-1 font-family-sans text-primary">Compliance Rate</h2>
        <div class="display-flex flex-justify-between margin-bottom-1">
            <span class="font-sans-md stats-label">Compliance Rate</span>
            <span class="usa-tag bg-primary font-sans-md margin-left-auto metric-value">
                {% if (on_time_count + late_count) > 0 %}
                {{ ((on_time_count / (on_time_count + late_count)) * 100) | round(2) }}%
                {% else %}
                0%
                {% endif %}
            </span>
        </div>
        <div class="display-flex flex-justify-between margin-bottom-1">
            <span class="font-sans-md stats-label">Compliant submissions</span>
            <span class="usa-tag bg-success-dark text-white font-sans-md margin-left-auto">{{ on_time_count }}</span>
        </div>
        <div class="display-flex flex-justify-between margin-bottom-1">
            <span class="font-sans-md stats-label">Incompliant submissions</span>
            <span class="usa-tag bg-accent-warm text-white font-sans-md margin-left-auto">{{ late_count }}</span>
        </div>
        <div class="display-flex flex-justify-between">
            <span class="font-sans-md stats-label">Total trials</span>
            <span class="usa-tag bg-primary-lighter text-ink font-sans-md margin-left-auto">{{ on_time_count +
                late_count }}</span>
        </div>
    </div>
</div>
{% endblock content %}