$color-primary-darkest: #112f4e;
$color-primary-darker: #0c4d82;
$color-primary-dark: #10589b;
$color-primary: #1a7ac7;
$color-primary-light: #5caadf;
$color-primary-lighter: #abd0ed;
$color-primary-lightest: #e5f2fb;
$color-secondary: #f26419;
$color-accent-warm: #f7a278;
$font-sans: 'Public Sans', 'Helvetica Neue', Arial, sans-serif;
