@use '../theme/uswds-theme' as theme;
@use 'uswds/scss/uswds' with (
  $theme-color-primary-darkest: theme.$color-primary-darkest,
  $theme-color-primary-darker: theme.$color-primary-darker,
  $theme-color-primary-dark: theme.$color-primary-dark,
  $theme-color-primary: theme.$color-primary,
  $theme-color-primary-light: theme.$color-primary-light,
  $theme-color-primary-lighter: theme.$color-primary-lighter,
  $theme-color-primary-lightest: theme.$color-primary-lightest,
  $theme-color-secondary: theme.$color-secondary,
  $theme-color-accent-warm: theme.$color-accent-warm,
  $theme-font-type-sans: 'public-sans'
);
@use './landing-page';

:root {
  font-family: theme.$font-sans;
  color: #111;
  background-color: #f4f6fb;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6fb;
}

#root {
  min-height: 100vh;
}
